PINECONE_API_KEY=pcsk_7ThSDY_BrLeUqt7SuoCV5iAWwbSXSmYXew5eEU5cegCLr8u8gvyjEZ1Fmdh3dj3EVVW1J8
OPENAI_API_KEY= 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
GEMINI_API_KEY= AIzaSyBiXjOYjvrmhYuYepm04BpHnPnUKobHJc0